.App {
  text-align: center;
  background-color: black;
  color: aqua;
  height: 100px;
  width:  500px;
  
}

.container{

  background-color: rgb(23, 66, 209);
}
.gifCard{
  text-emphasis-color: rgb(23, 23, 31);
}

.Button{
  background-color: #bedd0d; 
  border: none;
  color: rgb(32, 10, 10);
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.Button2{
  background-color: #e41b68; 
  border: none;
  color: rgb(22, 12, 12);
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;


}



.Button3{
  background-color: #00ff22; 
  border: none;
  color: rgb(22, 12, 12);
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;


}